h1 {
    color: rgb(69, 135, 209);
    font-size: 45px;
    font-weight: 100;
    font-style: oblique; 
    font-align: center;
   
}

h4 {
    color: rgb(69, 135, 209);
    font-size: 30px;
}

p {
font-size: 20px;
}

body {
    background-image: url(../images/brodsorter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

img{
    border-width: 3px;
    border-style: ridge;
    border-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
}